* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.divid{
    display: flex;
}

.navbar{
    width: 20vw;
    height: 100%;
    background-color: #e4e9f1;
    position: fixed;
}

.navbar img{
    height: 20vh;
    width: 20vw;
    padding: 10px;
    background-color: white;
}

li{
    padding: 8%;
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

i{
    margin-right: 30px;
    font-size: 20px;
    margin-left: 20px;
}

.tick{
    background-color: black;
    width: 80vw;
}

.tick img{
    height: 20vh;
    width: auto;
    margin-left: 500px ;
}

.sep{
    margin-left: 20%;
}

.access h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    margin-left: 50px;
    margin-right: 50px;
    width: 40vw;
}

.access-con{
    padding: 4%;
}

.ass{
    display: flex;
    flex-wrap: wrap;
}

.card-body{
    padding: 4%;
    margin: 20px;
}

.card-body img{
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}

.cards-was-price{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
}

.cards-body{
    padding: 3%;
    width: 15vw;
    margin-right: 50px;
}

.cards-body img{
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}

.card-ass{
    padding: 3%;
}

.card-ass img{
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}

.sale-ass{
    display: flex;
    padding: 2%;
}

h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    margin-left: 50px;
    margin-right: 50px;
    width: 40vw;
}

.ass-cards-was-price{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
}

.card-3-body img{
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}

.card-3-body{
    padding: 3%;
    margin-left: 50px;
}

.card3-was-price{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
}

.card-4-body{
    padding: 3%;
    margin-left: 50px;
}

.card4-was-price{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
}

.card-4-body img{
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}

#carts-items.carts-active {
    display: block;
    position: absolute;
    left: 57%;
    color: black;
    transform: translate(-10%, -25%);
    height: 170vh;
    width: 50vw;
    top: 470px;
    background-color: white;
    box-shadow: 5px;
    padding: 5%;
}

#carts-items{
    display: none;
}

.top{
    display: flex;
    flex-direction: row;
}

.access{
    display: flex;
}

.card{
    display: flex;
}

.incart-item{
    display: flex;
    padding: 2%;
}

.incart-item h2{
    margin-left: 50px;
    margin-top: 10px;       
}

.incart-item h3{
    margin-left: 80px;
    margin-top: 14px;
}

.incart-item img{
    width: 5vw;
    height: 8vh;
    object-fit: cover;    
}

.top button{
    height: 5vh;
    width: 5vw;
    background-color: red;
    margin-top: 15px;
}

.access button{
    background-color: transparent;
    border: none;
}

.access button :hover{
    background-color: #e4e9f1;
    padding: 5%;
    border-radius: 50%;
}